.jumbotron {
  margin-top: 20px;
  padding: 30px 0;
  margin-bottom: 50px;
}
.jumbotron .row {

}
.jumbotronBlock {

  float: left;
  position: relative;
}
.jumbotron h2 {
  font-size: 36px;
  font-weight: 800;
  margin: 0;
}
.jumbotron p {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}


.bankContainer {
  border-left: 1px solid #58595b;
}
.bankContainer .bankImage {
  height: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.bankContainer .bankContent {
  margin-left: 105px;
}
.bankContainer .bankContent h2 {
  font-size: 54px;
}
.bankContainer .bankContent h2 span {
  font-size: 30px;
  vertical-align: top;
  line-height: 45px;
}
.bankContainer .redeem {
  margin-right: 1em;
}
