html, body {
  color: #58595B;
  font-size: 18px;
  font-weight: 300;
  }

h1,h2,h3 {
  font-weight: 800;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px solid #eee;
}
