.no-padding-left {
  padding-left: 0;
}
.no-padding-right {
  padding-right: 0;
}

.option-buttons {
  padding: 2em 0;
  clear: both;
}

.fine-print {
  margin: 30px 0;
}

.standard-container {
  border: 1px solid #B3B3B3;
  margin-bottom: 1em;
  position: relative;
  float: left;
  width: 100%;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
}

/*
    __  __               __
   / / / /__  ____ _____/ /__  _____
  / /_/ / _ \/ __ `/ __  / _ \/ ___/
 / __  /  __/ /_/ / /_/ /  __/ /
/_/ /_/\___/\__,_/\__,_/\___/_/
                                    */

.navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-brand:hover, .navbar-brand:active, .navbar-brand:focus {
  background-color: #00AEEF;
  padding: 30px 25px 15px;
  width: 150px;
  height: 75px;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-left: 0;
}

.navbar-default {
  background-color: white;
  border: none;
  height: 75px;
}







/*
    ____        __  __
   / __ )__  __/ /_/ /_____  ____  _____
  / __  / / / / __/ __/ __ \/ __ \/ ___/
 / /_/ / /_/ / /_/ /_/ /_/ / / / (__  )
/_____/\__,_/\__/\__/\____/_/ /_/____/
                                        */

.btn-callout {
  width: 90%;
  margin-left: 5%;
}
