.bankContainer {
  border-left: 1px solid #58595b;
  padding-left: 20px;
}
.bankContainer .bankImage {
  height: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.bankContainer .bankContent {
  margin-left: 105px;
}
.bankContainer .bankContent h2 {
  font-size: 54px;
}
.bankContainer .bankContent h2 span {
  font-size: 30px;
  vertical-align: top;
  line-height: 45px;
}
.bankContainer .redeem {
  margin-right: 1em;
}
